#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  background-color: #ffffff; /* Change to desired color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #333; /* Change to desired color */
  transition: color 0.3s;
}

.navbar a:hover {
  color: #007bff; /* Change to desired hover color */
}

.hero {
  background-image: url('../pexels-loifotos-1660898.jpg'); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
  color: white;
}

.card {
  padding: 2em;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.read-the-docs {
  color: #888;
}
